<script>
    alert("관리자 메인 페이지");
</script>
<body>
    <button onclick="location.href = '/users'">users</button>
    <button onclick="location.href = '/products'">products</button>
    <button onclick="location.href = '/orders'">orders</button>
</body>