<script>
    alert("관리자 메인 페이지");
</script>
<body>
    <div style="text-align: center; margin: 200px;">
        <button onclick="location.href = '/users'">users</button>
        <button onclick="location.href = '/products'">products</button>
        <button onclick="location.href = '/orders'">orders</button>
    </div>
</body>