<div id="wrap">

  <div id="banner">
    <img src="/img/event1.png" alt="이벤트배너" style="width: 100%;">
  </div>

  <h2 style="margin-left: 6%; margin-top: 40px; margin-bottom: 10px">이번 주 BEST</h2>
  <div id="best">
      <!-- <article class="emp"></article> -->
      <% products.forEach(products => { %>
      <article class="article">
        <a href="/productsSub/<%= products.id %>">
        <div class="menu">
          <div class="pic">
            <img src="img\<%= products.img %>" alt="사진" style="width: 100%;">
          </div><br>
          <b><%= products.name %></b> <br>
          <%= products.price %>원
        </div>
        </a>
          <div class="clear"></div>
      </article>
      <% }); %>  
      <!-- <article class="emp"></article> -->
  </div>

</div>
