<div id="wrap">

  <div id="banner">
    <img src="/img/event1.png" alt="이벤트배너" style="width: 100%;">
  </div>

  <div id="best">
    <h2 style="margin-left: 6%; margin-top: 40px; margin-bottom: 10px">이번 주 BEST</h2>
      <article class="emp"></article>

      <article id="article1">
        <div class="menu">
          <div class="pic">
            <a href="/productsInsert">products</a>
          </div><br>
          <b>준벅</b> <br>
          18,000원 (4잔 기준)
        </div>

          <div class="clear"></div>
      </article>

      <article id="article2">
        <div class="menu">
          <div class="pic">
            이미지2
          </div><br>
          <b>준벅</b> <br>
          18,000원 (4잔 기준)
        </div>
          <div class="clear"></div>
      </article>

      <article id="article3">
        <div class="menu">
          <div class="pic">
            이미지3
          </div><br>
          <b>준벅</b> <br>
          18,000원 (4잔 기준)
        </div>
          <div class="clear"></div>
      </article>

      <article id="article4">
        <div class="menu">
          <div class="pic">
            이미지4
          </div><br>
          <b>준벅</b> <br>
          18,000원 (4잔 기준)
        </div>
          <div class="clear"></div>
      </article>

      <article class="emp"></article>

  </div>

</div>