<div id = "join">
    <h2>JOIN</h2>
    <input id = "id" type = "text" placeholder="ID를 입력하세요">
    <input id = "pw" type = "password" placeholder="비밀번호를 입력하세요">
    <input id = "pw-re" type = "password" placeholder="비밀번호를 다시 입력하세요">
    <input id = "name" type = "text" placeholder="이름을 입력하세요">
    <input id = "phone" type="text" placeholder="전화번호를 입력하세요">
    <button>인증받기</button>
    <input id = "certification" type="text" placeholder="인증번호를 입력하세요">
  </div>
  <div id = "others">
    <img src="" alt="kakao">
    <img scr="" alt="naver">
  </div>