<div class="data-form">
  <form class="form-signin" action="joined" method="POST">
    <h2 class="form-signin-heading">JOIN</h2>
    <label for="inputNickName">Nick Name</label>
    <input type="text" name="nick" id="inputNickName" class="form-control" placeholder="Nick Name" autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="pw" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputName">Name</label>
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required>
    <label for="inputPhoneNumber">Phone Number</label>
    <input type="text" name="phone" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">JOIN</button>
  </form>
</div>
