<div class="data-form">
  <form class="form-signin" action="joined" method="POST">
    <h2 class="form-signin-heading" style="text-align: center; margin-top: 3%;">JOIN</h2>
    <label id="loginLabel" for="inputNickName">NICK NAME</label>
    <input id="loginForm" type="text" name="nick" id="inputNickName" class="form-control" placeholder="Nick Name" autofocus>
    <label id="loginLabel" for="inputPassword">PASSWORD</label>
    <input id="loginForm" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label id="loginLabel" for="inputName">NAME</label>
    <input id="loginForm" type="text" name="name" id="inputName" class="form-control" placeholder="Name" required>
    <label id="loginLabel" for="inputPhoneNumber">PHONE NUMBER</label>
    <input id="loginForm" type="text" name="phone" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required>
    <br><button id="btnUser" class="btn btn-lg btn-primary btn-block" type="submit">JOIN</button>
  </form>
</div>
