<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% include('part/header') %>
        <div id="container">
            <%- body %>
        </div>
        <% include('part/footer') %>
    </body>
</html>