<div id = "login">
    <h2>LOGIN</h2>
    <input id = "id" type = "text" placeholder = "ID를 입력하세요.">
    <input id = "pw" type = "password" placeholder = "비밀번호를 입력하세요">
    <button onclick="location.href='./join'">LOGIN</button>
    <button>JOIN</button>
  </div>
  <div id = "others">
    <img src="" alt = "kakao">
    <img src="" alt = "naver">
  </div>
  