<form class="form-signin" action="login" method="POST">
    <h2 class="form-signin-heading" style="text-align: center; margin-top: 3%;">LOGIN</h2>
    <label id="loginLabel"for="inputNickName" class="sr-only">NICK NAME</label><br>
    <input id="loginForm" type="text" name="nick" id="inputNickName" class="form-control" placeholder="Nick Name" autofocus><br>
    <label id="loginLabel" for="inputPassword" class="sr-only">PASSWORD</label><br>
    <input id="loginForm" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
    <button id="btnUser" class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
</form>
    <br>
    <div id="loginLabel">OR</div>
    <br>
    <button id="btnUser" onclick="location.href='/join'">JOIN</button>

  <div id = "others">
    <img src="" alt = "kakao">
    <img src="" alt = "naver">
  </div>
 
