<form class="form-signin" action="login" method="POST">
    <h2 class="form-signin-heading">LOGIN</h2>
    <label for="inputNickName" class="sr-only">Nick Name</label>
    <input type="text" name="nick" id="inputNickName" class="form-control" placeholder="Nick Name" autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pw" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
</form>
    <button onclick="location.href='/join'">JOIN</button>

  <div id = "others">
    <img src="" alt = "kakao">
    <img src="" alt = "naver">
  </div>
  
