<div class="data-form">
  <form action="inserted" method="POST" enctype="multipart/form-data">
    <h2 class="form-signin-heading" style="text-align: center; margin-top: 3%;">Products Inserts</h2>
    <label class="productsLabel" for="inputCategory">CATEGORY</label>
    <input class="productsInsertform" type="text" name="category" id="inputCategory" class="form-control" placeholder="Category" autofocus>
    <label class="productsLabel" for="inputCode">CODE</label>
    <input class="productsInsertform" type="text" name="code" id="inputcode" class="form-control" placeholder="Code" required>
    <label class="productsLabel" for="inputName">Name</label>
    <input class="productsInsertform" type="text" name="name" id="inputName" class="form-control" placeholder="Name" required>
    <label class="productsLabel" for="inputPrice">PRICE</label>
    <input class="productsInsertform" type="text" name="price" id="inputPrice" class="form-control" placeholder="Price" required>
    <label class="productsLabel" for="inputDiscription">DISCRIPTION</label>
    <input class="productsInsertform" type="text" name="discription" id="inputDiscription" class="form-control" placeholder="Discription" required>
    <label class="productsLabel" for="inputImg">IMG</label>
    <input type="file" name="file" id="inputImg" class="form-control" placeholder="Img" required>
    <br /><button class="btnAdmin" type="submit">INSERT</button>
  </form>
</div>
