<h2 class="center">Users Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>NICKNAME</th>
      <th>PASSWORD</th>
      <th>NAME</th>
      <th>PHONE</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
          <%= user.nick %>
      </td>
      <td>
        <%= user.pw %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.phone %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
